body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --text-main: #5e5e5e;
  --text-secondary: #6f6f70;
  --background: #fff;
}

button {
  background: none;
  border-radius: 150px;
  border: 0.2px solid var(--text-secondary);
  padding: 5px;
  cursor: pointer;
  color: var(--text-main);
}


.title {
  top: 0;
  max-width: 100%;
  z-index: 1;
  background-color: var(--background);
  color: var(--text-main);
  margin: 0;
  padding: 15px;
  box-shadow: 0 4px 4px #00000040;
}

.entry-modal {
  width: 300px;
  margin: auto;
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 90px;
  margin-left: -150px;
  padding: 5px;
  color: var(--text-main);
  background-color: var(--background);
  text-align: center;
}

#notification {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: var(--text-main);
  margin: 0;
  top: 47.33px;
  font-size: 18pt;
  width: 100%;
  background-color: var(--background);
}


.room-input {
  border: none;
  padding: 5px;
  margin-bottom: 15px;
  border-bottom: 0.2px solid var(--text-secondary);
}

.room-input:focus-visible {
  outline: none;
}

button {
  margin: 3px;
  padding: 8px;
}

.meet-area {
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: flex-start;
}

#remote-video {
  top: 0;
  height: fit-content;
  max-height: 95%;
  max-width: 100%;
  left: 0;
}

#local-video {
  top: 70;
  width: 300;
  object-fit: cover;
  height: 150;
  z-index: 1;
  /* display: none; */
  right: 15;
  background-color: var(--background);
  position: absolute;
}

.meet-controls-bar {
  bottom: 0;
  background-color: var(--background);
  left: 0;
  position: absolute;
  width: 100%;
}

.meet-controls-bar button {
  background-color: var(--text-secondary);
  color: var(--background);
}

.active {
  background-color: #4caf50 !important;
}

#downloadClient {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  color: var(--text-main);
  cursor: pointer;
}

#downloadClient img {
  width: 35px;
}